[2016-10-21 09:46] gurisko opened #1 "Add basic Android support"

[2016-10-21 09:48] gurisko opened #2 "Add UI customization support"
Docs:
* [iOS](https://developers.facebook.com/docs/accountkit/ios/customizing)
* [Android](https://developers.facebook.com/docs/accountkit/android/customizing)

[2016-10-21 22:24] gurisko commented on #1
Resolved in a896718cd36a9acd3984f3d442ece4d99f2e9917

[2016-10-21 22:24] #1 closed

[2016-10-21 22:40] gurisko opened #3 "Add account preferences API support"
Docs:
* [iOS](https://developers.facebook.com/docs/accountkit/ios/accountpreferencesapi)
* [Android](https://developers.facebook.com/docs/accountkit/android/accountpreferencesapi)

[2016-10-22 13:56] gurisko opened #4 "Add documentation"
Describe initialization and all available methods into README file.

[2016-10-22 14:50] gurisko opened #5 "iOS strings are missing"
AccountKitStrings.bundle is not linked with the plugin:
<img width="301" alt="screen shot 2016-10-22 at 4 48 06 pm" src="https://cloud.githubusercontent.com/assets/495549/19620183/9b7047fa-9877-11e6-8ca6-11198daf58c3.png">

[2016-10-22 14:57] #5 closed

[2016-10-25 10:42] gurisko opened #6 "Add tests"

[2016-10-25 19:51] gurisko opened #7 "Android app crashes when login is called twice"
Steps to reproduce:

1. Call any login method (`loginWithPhoneNumber` or `loginWithEmail`)
2. Close the open activity
3. Call any login method

Crash happens.

[2016-10-25 20:36] #7 closed

[2016-12-14 09:48] uzumakinaruto123 opened #9 "Documentation update needed and on submitting number returns 'something went wrong' message."
1. Using plugin in ionic 2 , plugin does not work with **'accountKitPlugin'** . After wasting a lot of time and checking the source discovered that plugin exports **'AccountKitPlugin'**. It worked once I changed accountKitPlugin to AccountKitPlugin.

2. On submitting phone number , it says `'something went wrong'` every time as in the screenshot

<img src="https://cloud.githubusercontent.com/asset

[2016-12-14 10:20] denyo commented on #9
About 1.) that's what my PR was for: https://github.com/gurisko/cordova-plugin-accountkit/pull/8

[2016-12-14 10:40] uzumakinaruto123 commented on #9
Figured out the issue , It need one extra step for this to work.

We need to enable `Enable client access token flow` from facebook developer console , otherwise this does not work. this should go in docs too

[2016-12-25 23:03] gurisko commented on #9
First of all, thank you very much @uzumakinaruto123  for submitting the issue.

Since it seems that your 1st comment is more common than I previously thought, I cherry picked @denyo's pull request #8. (Thank you @denyo!)

About the second point - I don't recall setting that up anymore. Could you please write a sentence or two about it into this issue or into a pull request? Thanks

[2016-12-28 07:48] gurisko opened #10 "Add browser platform"

[2016-12-28 22:35] gurisko opened #11 "Add mobile number/email into return object"

[2016-12-29 19:34] Nicolaidavies commented on #9
@gurisko, I believe @uzumakinaruto123 's second issue is that the plugin is currently configured to only work with access tokens. AccountKit also allows you to authorise and receive a code back.

The solution seems to be to change line 94 of `AccountKitPlugin.java` from `AccountKitActivity.ResponseType.TOKEN` to `AccountKitActivity.ResponseType.CODE`for people needing to authorise using a code. se

[2016-12-29 20:28] gurisko commented on #9
@Nicolaidavies I like the solution where we give users the choice in between token and code. PR will be very appreciated! Thank you

[2016-12-30 06:22] uzumakinaruto123 commented on #9
@gurisko @Nicolaidavies  Sorry for late reply. But , regarding 2. I had to do it to get it working. Now I know why.  :)

[2016-12-30 06:25] uzumakinaruto123 opened #12 "Feature Request : Plugin is short of features like setting initialnumber and getting current accoun"
Plugin is short of features like setting initialnumber and getting current account.

 I manually added `setting initial number and getting account`  to the plugin.  But , I can't make a PR (actually I don't know how to) because I did it only for android. I don't know anything of iOS.

It would be great if you could do it on your end, and for ios.

Thanks.

[2016-12-30 08:21] gurisko commented on #12
Hello @uzumakinaruto123. I will be adding `getAccount()` method soon. Is there any chance of you publishing your android implementation into your fork? I can cherry pick it into this repo.
I haven't thought about initial number just yet, but it seems easy to be done. I will have a look.

[2016-12-30 08:28] uzumakinaruto123 commented on #12
@gurisko  Yes its easy :D I will update here once I publish to fork :)

[2016-12-30 08:48] gurisko commented on #11
This will be implemented as a separate method `getAccount()`. Closing as invalid.

[2016-12-30 08:48] #11 closed

[2016-12-30 09:03] uzumakinaruto123 commented on #12
@gurisko  [https://github.com/uzumakinaruto123/cordova-plugin-accountkit/tree/addfeature](https://github.com/uzumakinaruto123/cordova-plugin-accountkit/tree/addfeature)  here.   :)

Only one thing short here is , the Country code for initial parameter is static and not dynamic. I mean I have set it to mine.

[2017-01-03 00:00] gurisko commented on #12
Thank you @uzumakinaruto123. I had a look at your contribution and I tried to cherry pick. However I ended up with quite a big refactoring and it couldn't work together eventually. I hope you will find the changes satisfying!

This can be closed.

[2017-01-03 00:00] #12 closed

[2017-01-03 00:12] gurisko commented on #9
Let's close this issue after we update README with additional installation step.

[2017-01-03 00:55] gurisko commented on #9
This was resolved in 86503be8b7cd69580cb3c2ce5f797000bd3a6f12

[2017-01-03 00:55] #9 closed

[2017-01-03 00:56] gurisko opened #15 "Support access tokens and authorization codes"
[More info](https://developers.facebook.com/docs/accountkit/accesstokens)

[2017-01-03 00:56] #4 closed

[2017-01-03 03:22] 1N50MN14 opened #16 "lastRefresh / refreshInterval"
Hey! Thanks for the awesome plugin! ;)

Question, `lastRefresh` and `refreshInterval` are those in seconds or milliseconds and are they consistent in both iOS and Android (the formatting)?

Thank you ;)

[2017-01-03 04:22] gurisko commented on #16
Hello @1N50MN14 ! Thank you for trying the plugin and for your feedback. It seems that we should include these information into README.

To answer your question:
`lastRefresh` - returns milliseconds
`refreshInterval` -  returns seconds

They are consistent on both platforms (small difference is lastRefresh which returns double for iOS and int for android).

[2017-01-03 05:09] uzumakinaruto123 commented on #12
Great ! :) will update

[2017-01-03 08:48] 1N50MN14 commented on #16
Thanks for the clarification @gurisko - closing issue - PS +1 for #2 ;)

[2017-01-03 08:48] 1N50MN14 commented on #16
closing

[2017-01-03 08:48] #16 closed

[2017-01-04 03:28] 1N50MN14 opened #17 "iOS linker command failed with exit code 1 (use -v to see invocation)"
The build fails when using along with phonegap-plugin-push, xcode throws build error `clang: error: linker command failed with exit code 1 (use -v to see invocation)` :( Any ideas how to resolve this? here's the full log:

    cd /Users/ayman/twirm/webapp/src/cordova/platforms/ios
    export IPHONEOS_DEPLOYMENT_TARGET=10.0
    export PATH="/Applications/Xcode.app/Contents/Developer/Platforms/iPhon

[2017-01-04 08:08] gurisko commented on #17
Hello @1N50MN14 . This doesn't seem like an issue with our plugin. Are you aware that push plugin is using [CocoaPods](https://cocoapods.org/) now?

[2017-01-04 14:32] NikicaAsanin opened #18 "AccountKitPlugin is not defined"
I put function on button to register with phone number. But I am getting message like : AccountKitPlugin is not defined ? Help :)

[2017-01-04 14:40] NikicaAsanin commented on #18
My function :
[code]

[2017-01-04 16:12] gurisko commented on #18
Which version are you using

[2017-01-04 16:14] 1N50MN14 commented on #17
Oh I noticed the change regarding CocoaPods but didn't notice the `.xcworkspace` thingie... this did it.. wow thank @gurisko !

[2017-01-04 16:14] #17 closed

[2017-01-05 10:10] gurisko commented on #18
Please update to the latest - v1.2.0 since you are passing option parameter which was not in v1.1.4.

However this doesn't seem like a problem with the plugin. Please refer to any tutorial on how to include a plugin in Ionic1 without using ngCordova.

[2017-01-05 10:10] #18 closed

[2017-01-06 06:29] uzumakinaruto123 opened #19 "Update has duplicate string resources"
Tried updated version , and it has duplicate string resources.

[code]

[2017-01-06 10:07] gurisko commented on #19
I am not yet sure what causes this. Are you, by any chance, using any other plugins in your project? (Facebook plugin?)

[2017-01-06 11:22] uzumakinaruto123 commented on #19
Yes ! I am using cordova-plugin-facebook4.  The previous  version of accountkit I tried , I  didn't have facebook plugin installed ! I had to comment the duplicate variables  in android.json and delete existing ones from one of the string xml's.

[2017-01-06 14:00] gurisko commented on #19
Since this can be considered as a common scenario and our plugin is the one at the beginning of its path, this will be fixed on our side. Probably adding internally some prefixes such as `akp_`. I don't like it much, but I don't see any other solution.

[2017-01-07 00:46] gurisko commented on #19
For now, there is not much that we can do. Even if we internally change our strings to anything else, it will fail in the next build steps (specifically `:processDebugManifest`) because AndroidManifest.xml will contain duplicates of `com.facebook.sdk.ApplicationId` and `com.facebook.accountkit.ApplicationName`.

Let's keep this open until [this bug](https://issues.apache.org/jira/browse/CB-8401) i

[2017-01-07 06:07] uzumakinaruto123 commented on #19
Yeah ! currently I got it working .  :)  Isn't there a way to keep check on string variable if it exists ? (I have no clue :P ) That way plugin could decide if those string variables are to be created or not. Anyways , till then a doc update will be good for getting rid of those duplicates manually.

[2017-01-08 00:18] 1N50MN14 commented on #15
+1 :)

[2017-01-23 16:38] 1N50MN14 commented on #15
@gurisko Just wondering if you had the chance to look into the iOS part of this.. thank you ;)

[2017-01-26 15:41] gurisko commented on #15
Hey @1N50MN14. I will be able to look at this only after February 8.

[2017-01-26 21:15] 1N50MN14 commented on #15
Cool thanks for the update @gurisko

[2017-02-09 04:55] l1nknyto commented on #19
hi uzumakinaruto123, how you make it working?
i'm facing the same problem. i manage to compile after i remove fb_app_id/name from json and xml.
but when i run AccountKitPlugin.loginWithPhoneNumber in android, nothing happened.

Anything i'm missed?

[2017-02-09 09:34] l1nknyto commented on #19
Additional info for my previous comment: i couldn't find any log in console, which called either in success or error callback.

Now it's working too. (Account kit UI is show and can working). I don't know what is actually happened. Maybe because of some changes in my facebook app setting.

[2017-02-19 21:43] 1N50MN14 commented on #15
Hi @gurisko , don't mean to nag, just wondering if you got the chance to look into this one - thank you ;)

[2017-03-14 02:44] rgazeredo opened #20 "cordova build android"
I try build in android and return this:

[code]

[2017-03-17 03:41] membering opened #21 "not working on ios"
plugin work perfectly on android but when I use it on ios, I stuck on Sending code screen although I have received a SMS, I cannot input my code

[2017-03-17 09:48] #21 closed

[2017-03-18 05:53] gurisko commented on #21
@membering What was the issue?

[2017-03-21 12:17] mrpower55 opened #22 "integration with ionic 2"
it is really looking nice and i want to ask if this is compatiable with ionic 2
i tried to download it but i don't know how to import it in my typescript file

so please if anyone know how please tell me
thanks

[2017-03-21 12:42] gurisko commented on #22
Have you tried `window['AccountKitPlugin'].method()` ?

[2017-03-21 15:29] gurisko commented on #20
Sorry @rgazeredo. I missed this one. Is this still valid or have you figured it out?

[2017-03-29 03:24] agungjk opened #23 "SMS code not autofilled"
Sms already received but it not autofilled to the form.

[2017-03-29 07:17] gurisko commented on #23
Which OS?

[2017-03-29 09:21] agungjk commented on #23
i'm using
Android 4.4.4 on XIAOMI device

Callback also not working if open accountkit ui thread opened

[2017-03-30 13:52] gurisko commented on #23
Hm. Do you have the right permissions?
It should be
`<uses-permission android:name="android.permission.RECEIVE_SMS" />`

[2017-03-31 02:33] agungjk commented on #23
@gurisko yes i did, but now the main issue is callback is not working if accountkit ui opened

[2017-04-07 13:04] gurisko commented on #22
Closing due to inactivity.

[2017-04-11 14:36] phonenatural opened #24 "error loginWithPhoneNumber"
hello,
i have problem with recieve the sms.  The SMS just have ???????????????????????????????????????

I do not have errors in logcat...

help me.

[2017-04-12 08:52] gurisko commented on #24
Could you be more specific about the device, operating system? Snippet and screenshot might help as well.

[2017-04-12 13:12] phonenatural commented on #24
ok,

Device: Samsung galaxy grand neo plus.

O.S : Android 4.4.4

The code is:
![cod](https://cloud.githubusercontent.com/assets/23510759/24958626/55496ba0-1f66-11e7-89df-07fa2f145400.png)

LogCat:  nothing

Img app:
1) this is facebook number in the app:
![screenshot_2017-04-12-10-02-13](https://cloud.githubusercontent.com/assets/23510759/24959094/073fbed0-1f68-11e7-8c80-c76c7afc15db.png)

2) suc

[2017-04-12 15:37] gurisko commented on #24
Oh wow. This is the first time I actually see this happening. Explanation can be found [here](https://www.accountkit.com/faq/#11):

This is AccountKit issue and not the issue of this plugin.

[2017-04-12 15:49] gurisko commented on #23
I tried to reproduce this but no success. Would you mind creating a repo with the code where this occurs?

[2017-04-12 15:50] gurisko commented on #20
I am closing this one due to not enough information.

[2017-04-12 15:50] #20 closed

[2017-04-12 17:56] phonenatural commented on #24
ok, thank and keep it open please.
Can happen to another

[2017-04-13 09:20] gurisko commented on #24
I don't think we should keep this open only because this can happen to everyone.

What we can do:
* Add this as a **known issue** into README file to make this more visible.
* Discuss whether we can catch this issue on the plugin side and throw a specific error

[2017-04-13 12:30] phonenatural commented on #24
OK,  you can close the issue, I verify problem and effectively as it says facebook:  is a problem of telefony companies.
I checked and some companies have the problem and other no.

bye...

[2017-05-06 14:46] srbhkmr23 opened #25 "account kit issue Unfortunately, AppName has stopped"
Hi, i'm new for cordova app i trying to login my app ( ionic + Angular + Cordova ) using account kit with mobile number verification and i'm trying cordova-plugin-accountkit but my app is stopped by giving this error massage "Unfortunately, AppName has stopped" at this point :
 AccountKitPlugin.loginWithPhoneNumber(Object options, Function success, Function failure)

**My JS code is :**

[2017-06-05 11:58] Whhymee commented on #25
Hi srbhkmr23 ! Is this plugin working for you? can we use this plugin in an ionic app?
As I'm having some problems

[2017-06-05 12:27] Whhymee commented on #22
Hi gurisko! can we use this plugin in ionic 2

[2017-06-05 12:29] gurisko commented on #22
Hello. Yes, I had no troubles using it with Ionic2.

On 5 Jun 2017 2:27 p.m., "Raj Bisht" <notifications@github.com> wrote:

[2017-06-05 13:30] Whhymee commented on #22
Ohk, and what about ionic 3?
btw, thanks gurisko

[2017-06-05 13:32] gurisko commented on #22
I haven't tested with Ionic 3, but there were no major changes (other than
angular itself which doesn't really touch Cordova plugins) so it should be
working fine.
You're welcome. And please let us know if everything works as expected if
you decide to proceed with the implementation.

On 5 Jun 2017 3:30 p.m., "Raj Bisht" <notifications@github.com> wrote:

[2017-06-05 17:51] Whhymee commented on #22
Hi gurisko, I am trying to use this plugin in my ionic3 project. Can you please tell is this correct way of implementing the plugin.

[2017-06-06 10:27] gurisko commented on #22
It seems good to me. Doesn't it work? I'll have a look when I have access
to my laptop.

On 5 Jun 2017 7:51 p.m., "Raj Bisht" <notifications@github.com> wrote:

[2017-06-06 15:19] MaximeLassalleHub opened #26 "onActivityResult returning null intent"
Hi,
When login with email AND opening my email inside the app (not opening the email outside afer pausing my app), the callback function is never called due to this condition:

  // Sometimes intent is null what crashes the app. This is a workaround rather than a solution.
    if (requestCode != APP_REQUEST_CODE || intent == null) {
      return;
    }

Is the issue on  the FB DK side?

Thank you,

[2017-06-06 17:16] Whhymee commented on #22
Hi! it works perfectly fine but when i navigate to 'Tabpage', TabPage responds very slowly and bit buggy ( still don't know why! ) So i just removed 'that.navCtrl.push(TabPage)' from the success function and placed outside it, then it works perfectly fine.
Thanks, gurisko!

[2017-07-05 09:09] Whhymee commented on #2
Hi gurisko! i have integrated fb account plugin in ionic3 app and it is works like charm. Hey but i am unable to customise the ui, i tried customising ui in my fb developer account kit app but it does not reflect any changes in app. can you help me out/ suggest how can i customise app ui?

[2017-07-07 10:01] khouleBousso opened #27 "getAccount doesnt work"
Hi, everyone. Thanks for this plugin. It's very helpul.

I use it in my ionic2 app. But when i use the function getAccount after the phone authentification, it sends me  an implicit error. I don't know what. please refers to my Code :+1:

   AccountKitPlugin.loginWithPhoneNumber(options,
         (response) => {
           AccountKitPlugin.getAccount(
             (response) =>
             {

[2017-07-07 10:06] khouleBousso commented on #25
Hi srbhkmr23. I used it in my Ionic2 app and it works well.

I add an InAppBrowser Cordova Plugin in my app.

And Redirect my window.open to the inappbrowser like this :+1:

`declare var cordova;
declare var window;

export class MyApp {

----
 platform.ready().then(() => {
 if (cordova && cordova.InAppBrowser) {
          window.open = (url, target?, opts?) => iab.create(url, target ,'location=no

[2017-07-07 17:24] gurisko commented on #2
Hello @Whhymee. Custom UI hasn't yet been released. I will have a look over the weekend to see if I can finish it.

[2017-07-08 22:23] mapnia opened #28 "Theme colors"
It is possible to change the colors of the theme?

[2017-07-09 09:42] gurisko commented on #28
Not yet. Duplicate of #2

[2017-07-09 09:42] #28 closed

[2017-07-13 13:30] mohamedsharaf commented on #19
@gurisko best way is to add prefix like you suggested
akp_
why not

[2017-07-13 14:14] gurisko commented on #19
@mohamedsharaf Doesn't it fail at the next build step `:processDebugManifest` after your changes?

[2017-07-13 14:19] mohamedsharaf commented on #19
@gurisko
i am not really sure if it will fail i think :processDebugManifest  fail in different sdk version

 but if it will break just make this release as version 2 of the plugin
but I think no one will go for account kit before he passes through the Facebook login
so what u think

[2017-07-13 14:33] mohamedsharaf commented on #19
@gurisko i can confirm you it fails in
 :mergeDebugResources
any suggestion i am not android expert on how to solve this
 i just need it to work

do u think if i changed plugin name will make this work ?

[2017-07-13 14:46] gurisko commented on #19
@mohamedsharaf Changing the plugin name won't help either. You can make this work by changing the generated JSON somewhere in Android folder. I will have my hands on my laptop in about 2 hours and I will try to give you more specific steps.

[2017-07-13 20:15] mohamedsharaf commented on #19
@gurisko thx will wait your help
i dont have any problem modifing android file manually

[2017-07-20 13:41] gurisko opened #30 "Add known issues into readme"
First one: #24

[2017-07-20 13:41] #24 closed

[2017-07-20 13:44] gurisko commented on #27
I was unable to reproduce this. Is there a way you make a separate repo where this can be reproduced? @khouleBousso

[2017-07-20 19:03] mohamedsharaf commented on #19
i tried to change string names with prefix the problem will reside in the android

i think this is android bug

 i fot it to work by manually modifing files

[2017-07-20 21:05] gurisko commented on #30
Another one: #19 (when using another cordova plugin which is using FB SDK)

[2017-07-21 10:37] gurisko commented on #15
It's been a long time @1N50MN14 . Are you still available to test this feature?

[2017-07-24 11:41] sharizard commented on #2
Hey @gurisko. When are you going to release this feature? Btw, I love this plugin!

[2017-07-25 17:06] gurisko commented on #2
Hey @sharizard. No estimates for this one. I'll appreciate any help

[2017-07-25 19:09] gurisko commented on #15
If anyone feels like it, pull request #31 is open for reviews. If there won't be any comments in around 12 hrs, it will be merged and released under 1.3.0.

[2017-07-25 21:37] 1N50MN14 commented on #15
hey @gurisko I thought you disappeared! ;) I paid $ to get the iOS part done few months ago and its tested maybe you want to take a look before merging your PR see if there's special in there?

[2017-07-26 07:24] gurisko commented on #15
@1N50MN14 I was too busy and I stopped to use this plugin so there was a long break. Now I am trying to finish the planned features. I would definitely like to have a look if you don't mind. And thank you for testing. Hopefully we will make it better and you can get back to our public releases :)

[2017-07-26 12:25] 1N50MN14 commented on #15
@gurisko Awesome! Yeah it would be great to get back to a public release I had a concern about the long term maintainability of the plugin. The invite link should be in your inbox, couple of notes:

1) I enforced useAccessToken in the iOS code; there's a minor issue where the arg isn't interpreted correctly and since my iOS skills are non-existent I simply enforced the use of access token.

2)  A

[2017-07-26 18:08] gurisko commented on #15
Thank you @1N50MN14. I did a quick review of your code and the core functionality seems similar, so hopefully we won't introduce any bugs into our new release.

I will have a look at the theming next.

[2017-07-26 18:08] #15 closed

[2017-07-26 20:09] gurisko commented on #27
Would you have any chance to retest this issue with the latest version (v1.3.0)?

[2017-07-27 09:11] khouleBousso commented on #27
@gurisko  ok i try this and give u a feedback

[2017-07-27 17:40] gurisko opened #32 "Configuring Country Code Availability for SMS"
Documentation:
* [Android](https://developers.facebook.com/docs/accountkit/android) (6. Perform Additional Configuration)
* [iOS](https://developers.facebook.com/docs/accountkit/ios/customizingcodes)

[2017-07-27 23:08] gurisko commented on #2
I am taking over this.

[2017-08-01 16:50] trivielldev commented on #27
@gurisko We're trying to use getAccount to see if a user has signed in with AccountKit. Our assumption was that this would return an error if user was not loggen in. For iOS it doesn't return or do anything. Seems to be working like expected on Android.

`isAuthenticated() {
    AccountKitPlugin.getAccount((response) => {
      console.log("Success", response);
      return true;
    }), (error) =

[2017-08-01 17:17] gurisko commented on #27
It should work as you assume. Are you using the latest v1.3.0?

On 1 Aug 2017 6:50 p.m., "Simon Litlehamar" <notifications@github.com>
wrote:

@gurisko <https://github.com/gurisko> We're trying to use getAccount to see
if a user has signed in with AccountKit. Our assumption was that this would
return an error if user was not loggen in. For iOS it doesn't return or do
anything. Seems to be working

[2017-08-01 17:27] trivielldev commented on #27
Yes, we're using the latest version. Did some digging in the iOS code and it seems like the _accountKit variable is still nil if the login hasn't been initiated once before we call the getAccount-method, so it just skips over the call to _accountKit requestsAccount.

[2017-08-01 18:01] trivielldev commented on #27
Figured out our issue. First, Javascript mentioned over was not correct.
Correct javascript code:
[code]

Second, there is also a code change needed in the iOS plugin, see #33.

Sorry for hijacking this issue :)

[2017-08-01 18:37] trivielldev commented on #27
Two things wrong. First, the javascript code posted was not correct.
Correct version
[code]

Second, there is no callback triggered from the iOS plugin if you call the getAccount method before using login-method (instantiating the _accountKit variable). Added a suggested fix to PR #34

[2017-08-29 11:22] khouleBousso commented on #27
Hi,

I am not unable to verify the new access token generated by your 1.3.0 version with
https://graph.accountkit.com/v1.2/me/?access_token='+accessToken.

I get a : "Invalid OAuth access token"

[2017-09-01 06:07] khinchotin commented on #22
I am using cordova-plugin-accountkit but I cannot chage colors in  FacebookAccountKitLogin.xml for android platform in ionic 2.

Thanks!

[2017-09-14 15:24] allansduarte commented on #19
Since this question depends on an Apache Cordova bug ...

Is there any alternative to running cordova projects fast? Just like `ionic cordova run android` or `cordova run android`

If there is an alternative to this question could they make it clear to users of the plugin?

[2017-09-24 18:27] sido420 opened #35 "SMS not being read"
Thanks for the plugin.

It seems to work however even after putting the required uses params in AndroidManifest.xml the SMS is not being read automatically by the plugin.

Do I have to install another plugin to SMS or read SMS myself and somehow feed it to the plugin?

I've only tested in Android.

[2017-09-24 18:30] sido420 opened #36 "how to change theme colors?"
Is it possible to change the theme colors in config files or through JS code?

Also, I'm seeing cordova build warnings like below. How do I fix them?

[code]

[2017-09-26 09:36] caskes commented on #19
@gurisko , thanks for the great job you've done so far. Do you have any insights on if and when this bug could be resolved? I have your plugin running and am keen to use the Facebook4 native plugin in parallel.

Kind regards

[2017-10-09 23:37] davidgalarza opened #37 "Dont execute getAccount on IOS"
Hello i have the following code:
`(<any>window).AccountKitPlugin.getAccount(user=>{
        console.log('Usuario 1: ', user);
        this.userId = user.accountId;
        this.db.getUser(user.accountId).on('value', ss=>{
          console.log("Usuario 2:", ss.val());
          this.phone = ss.val().phone;
          this.addressF = ss.val().billing.address;
          this.ci = ss.val().billing.ci;

[2017-10-17 08:41] stove654 opened #38 "How to change language?"
How can i change language? Can i help you?

[2017-10-23 18:35] kkrishnan90 commented on #22
Hello.. Doesn't seem to work for me... throws me the below error ...

[code]

I have just copied the above code trying to even hard code the phone number...  but no luck..  here's my code

[code]

Any help on this is much appreciated as this is only live plugin available for account kit as much as I've seen through the entire internet.

[2017-11-01 00:10] sharmila-r commented on #22
Hi,
I am trying to use this plugin in Ionic 3 and I am not sure how to import this plugin in my ts file.

I followed the sample code of Whhymee which he mentioned in his comment but I am getting **'AccountKitPlugin is not defined'**. I am new to Ionic and I am not sure what I am missing here. Package.json and config.xml has this plugin with name as 'cordova-plugin-accountkit'. Where else I have to

[2017-11-01 01:09] Whhymee commented on #22
@sharmila-r I think you need to add 'declare var AccountKitPlugin: any;' in your ts file.
 go through this link [https://www.joshmorony.com/using-cordova-plugins-in-ionic-2-with-ionic-native/](url)

[2017-11-01 14:48] sharmila-r commented on #22
@Whhymee, thank you for the reply. I have declared the variable after import as 'declare var AccountKitPlugin:any; ' and still getting that error. Do I need to add anything in app.module.ts?

[2017-11-08 19:28] lucasgalli commented on #19
@gurisko is there any solution for this problem?

[2017-11-09 09:58] stove654 commented on #25
@srbhkmr23 Change version account kit sdk: 4.22.0 in file plugins/cordova-plugin-accountkit/plugin.xml         `<framework src="com.facebook.android:account-kit-sdk:4.22.0"/>`
and add code to file: `platforms/android/build.gradle` `configurations.all {
    resolutionStrategy.eachDependency { DependencyResolveDetails details ->
        def requested = details.requested
        if (requested.group =

[2017-11-09 18:24] lucasgalli opened #39 "Stuck at "Verifying your number""
When I receive the message "Verifying your number" my app keeps loading at this page, then sometimes I receive the SMS code (not always), but it never reaches the page to input the code.

Any hints?
![img-1075](https://user-images.githubusercontent.com/11078696/32622722-f1e63d8a-c56a-11e7-8448-cca193662d5f.JPG)

[2017-11-10 17:34] #39 closed

[2017-11-14 10:23] gurisko opened #40 "Ionic Demo"

[2017-11-16 10:52] viveklc commented on #36
I found a plugin [ https://github.com/Mhusain/FacebookAccountKit ], which is providing functionality to change account kit theme colors.

How can I add the change theme color functionality in this plugin?

[2017-11-21 14:38] adriano-carrijo-bodyadvance commented on #19
I need too

[2017-11-29 06:23] maverickpravin commented on #36
@viveklc  are you able to change theme ..... any solution yet?

[2017-11-30 06:35] viveklc commented on #36
@maverickpravin No, not yet.

[2017-12-05 11:04] codesundar commented on #40
Hopefully, this may help https://codesundar.com/ionic-accountkit-integration/

[2017-12-05 11:08] gurisko commented on #40
That looks great! Would you mind making a PR to include this somewhere in
README?

On 5 Dec 2017 12:04 pm, "SUNDARAVEL" <notifications@github.com> wrote:

[2017-12-06 04:03] codesundar commented on #40
Sure! You can.

[2017-12-07 17:52] rodrigoplant commented on #2
Desperately needing this! Any updates?

[2017-12-12 01:03] durgeshsatyam opened #41 "Have to login again and again"
I have to login again if I open the app again (without actually killing it) from background, while the app is in middle of making its login operation via Accountkit.

Step to reproduce:

    open the app from menu and do some steps in AccountKit login
    press home button (don't kill the app, just put it in background) in middle of the AccountKit login.
    reopen the app from "menu"

you can see

[2017-12-30 13:13] nezirz commented on #19
Add string resources into (I am using linux ubuntu this is my ionic project path) file : /home/user/js/fb4/platforms/android/app/src/main/res/values/strings.xml

    <string name="fb_app_id">59523234234</string>
    <string name="fb_app_name">hajmo.ba</string>

and my project now works!

[2018-01-16 19:25] mapnia opened #42 "It is possible to change the colors?"
Can we change the colors of the page?

[2018-01-24 20:55] aelshemy16 commented on #19
Simply remove android platform and re add it again ,
`ionic cordova platform remove android`

then
`ionic cordova platform add android`

`ionic cordova build android `

[2018-03-07 12:28] Eman-Shaaban commented on #27
Still doesn't work, @gurisko : any news? Is this  [PR] (https://github.com/gurisko/cordova-plugin-accountkit/pull/43) related to this issue??

[2018-03-15 09:18] YousefRabieKhalil commented on #19
no any solution for this until now ?
i'm using ionic , and i'm using cordova-plugin-facebook4 with cordova-plugin-accountkit
and i'm still getting error.
thanks for advance

[2018-03-16 00:45] gurisko commented on #42
Duplicate of #36

[2018-03-16 00:45] #42 closed

[2018-03-23 09:01] The-Don-Himself opened #44 "Failed Phonegap Build"
Building using phonegap build with v 1.4.0 now fails as shown below

[code]

Downgrading back down to v1.3.0 in config.xml makes the build succeed.
[code]

[2018-03-23 11:11] Debnarayan commented on #19
Getting this error after placing --

in  this file **<project_path>/platforms/android/app/src/main/res/values/strings.xml**
in my Ionic 3 project

[2018-03-26 06:58] The-Don-Himself commented on #44
Updating phonegap-cli to latest version solves this.

[code]

[2018-03-26 06:58] #44 closed, assigned to nobody

[2018-03-30 08:52] sunilkunapareddy commented on #22
@sharmila-r i have the same error... if you solved it please update here

[2018-03-30 08:53] sunilkunapareddy commented on #22
@Whhymee the link which you gave is not working dude... plz update with this error

[2018-05-01 17:33] loban commented on #19
I have a suggestion on this front. You could split this plugin into 2 plugins. The second plugin is responsible for setting the 2 conflicting strings mentioned earlier. That way, one could use both plugins if only using this plugin, or just the first of also using the facebook4 plugin. I've seen this approach used in firebase cordova plugins, where a separate plugin is used to load google-services

[2018-05-01 19:42] mohamedsharaf commented on #19
i ended up with fork of this plugin that works with facebook4 simple modification
u can install my version

cordova plugin add https://github.com/mohamedsharaf/cordova-plugin-accountkit.git --save \
   --variable APP_ID="123456789" \
   --variable APP_NAME="myApplication" \
   --variable CLIENT_TOKEN="abcdefghijklmnopqrstuvwxyz" \
   --variable API_VERSION="v1.1"

[2018-05-21 08:38] xuanphuoc129 opened #46 "issue when build android ionic app"
I have a problem when build android with plugin. Someone can help me ?

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2018-06-01 12:52] kingkarki opened #47 "I am having certificate issue while adding this plugin. Please check following stackoverflow link"
https://stackoverflow.com/questions/50642522/certificate-error-while-adding-a-cordova-plugin

[2018-06-01 13:16] kingkarki commented on #5
its 2018 and i m still having the same issue  https://ibb.co/hsmn0y

[2018-06-04 09:22] gurisko commented on #5
@kingkarki Feel free to make your own pull request.

[2018-06-11 07:15] kingkarki opened #48 "is this project dead?"

[2018-06-15 05:13] phongVuabanhmi opened #49 "conflict with phonegap-plugin-push"
This plugin conflict with phonegap-plugin-push so when build, the error "Execution failed for task ':app:transformDexArchiveWithDexMergerForDebug'.

please help me!

[2018-07-16 21:36] sdeemene commented on #49
(Ionic 3) Ensure the phonegap push is working before taking these steps below
Step 1: cordova plugin accountkit
i**onic cordova plugin add cordova-plugin-accountkit --save    --variable APP_ID="244950*********”    --variable APP_NAME=“TsEt”   
 --variable CLIENT_TOKEN="d137d62565d6F7jehejehejehj”    --variable API_VERSION="v1.2.2"**

Step 2.  Change to.
`<framework src="com.facebook.android:accoun

[2018-08-03 04:39] vithanidarpan opened #50 "Country code display issue in iOS devices"
It works fine on the android device. Unfortunately, it shows country codes in iOS devices and simulators like below.

"com_accountkit_country_code_AD"

[2018-08-12 10:57] salemdomain commented on #25
@srbhkmr23 your solution doenst work!

anybody found the solution? please shere

[2018-08-13 06:13] salemdomain commented on #40
@does this work with ionic 3 + Crosswalk?

[2018-08-29 08:53] lilian131 commented on #27
hello I have the same error
```Server generated an error```
did you figure out how to do ?

[2018-08-29 10:46] lilian131 opened #51 "Ionic: AccountKitPlugin.getAccount error : Server generated an error"
hello it is working good on ios but I get the error on android when executing AccountKitPlugin.getAccount `Server generated an error` no more
please look at my code is there something to do to correct this code
[code]

[2018-09-05 19:19] gooru-ajay opened #52 "App crash after adding cordova-plugin-firebase"
Hi @Team

App getting crashed after adding latest cordova-plugin-firebase plugin to my project.

In **config.xml**
cordova-plugin-accountkit : **^1.3.0**

In **package.json**
cordova-plugin-accountkit: **^1.4.0**

Please help me to fix this!

[2018-09-11 05:57] mohamedsharaf commented on #38
no option t do this

[2018-09-11 12:58] lilian131 commented on #38
is there an option to do it directly in android an ios ? @mohamedsharaf

[2018-10-03 16:20] yassinzaid commented on #49
@De-Saint Thanks a lot , one month trying to fix it and i couldn't ... :) it works in cordova-plugin-fcm also :)

[2018-10-10 11:23] sagarkul commented on #52
Same problem.
I have to delete     "cordova-plugin-firebase": "^2.0.4",
to get this work..

[2018-10-16 20:46] PavaniDasari8 commented on #22
that doesn't work on browser, Only works on mobile device﻿

[2018-11-01 10:03] hadoanngoc commented on #52
Agree, some problem

[2018-11-01 10:19] hadoanngoc commented on #51
I have some error. Don't know how to get back user mobile number after authorization except calling .getAccount()

But it generates "Server generated an error" message

[2018-11-08 18:25] MUsman888 commented on #22
hey guys i am having trouble while installing account kit  plugin. can anyone help me ?
![screenshot 251](https://user-images.githubusercontent.com/34328005/48219109-76655580-e3ad-11e8-8a5f-b6b909f266c5.png)

[2018-11-08 18:39] PavaniDasari8 commented on #22
please check the command that you have used to install

[2018-11-15 11:09] 2xSamurai opened #53 "Failed to install 'cordova-plugin-accountkit': undefined"
I am getting the following error while trying to install the plugin. I searched on google and stack overflow but couldn't find a solution. Any advice would be really appreciated. Thank you.

[code]

[code]

[2018-11-15 13:03] 2xSamurai commented on #53
If anybody comes across such an issue please do the following. It worked for me. Hope it helps someone

Make sure that you use **sudo**.

[code]
Thank you.

[2018-11-15 13:03] #53 closed, assigned to nobody

[2018-11-22 09:06] 2xSamurai commented on #2
Hi, @gurisko Any update on this. Thank you for the plugin.

[2018-11-26 08:58] 2xSamurai commented on #50
+1 same issue started popping up. was fine till yesterday. Any update on this. Thank you.

[2018-11-27 05:17] 2xSamurai commented on #50
I was able to resolve this by removing and re adding the plugin. Thank you.

[2018-12-05 16:02] mehdio-namiki opened #54 "Build Failed : Could not find play-services-auth.jar (com.google.android.gms:play-services-auth:11.8.0)"
Could not find play-services-auth.jar (com.google.android.gms:play-services-auth:11.8.0)
whene i install cordova-plugin-accountkit plugin
can i get some help please !
![count_kit_problems](https://user-images.githubusercontent.com/11910154/49526155-217f0700-f8a7-11e8-9767-8d6c6955025d.PNG)

[2018-12-07 16:36] mehdio-namiki opened #55 "pp crash when add cordova-plugin-accountkit"
when i install accountkit plugin app work fine but when i added cordova-plugin-googlemaps build sucess but the app has stopped ( crash ) !

[2018-12-08 10:36] #54 closed, assigned to nobody

[2018-12-08 13:00] mehdio-namiki opened #56 "How to fixed this error"
![bloggif_5c0bbe041e737](https://user-images.githubusercontent.com/11910154/49686194-e4a25280-fae8-11e8-806a-4c77627f0a46.gif)

[2018-12-18 10:32] 2xSamurai commented on #19
@mohamedsharaf I tried your solution but getting the following errors. Please help. Thank you.

AAPT: No resource found that matches the given name (at 'value' with value '@string/fpak_app_name').
AAPT: No resource found that matches the given name (at 'value' with value '@string/accountkit_token').
Error: No resource found that matches the given name (at 'value' with value '@string/fpak_app_name'

[2019-02-17 23:45] maeisdev opened #57 "High vulnerability: please upgrade to latest minimatch version"
[code]

[2019-02-22 14:57] Kaoschuks commented on #49
I have this issues and the above method does wonders to its.
Thanks a lot

[2019-02-27 09:51] orzsikodon commented on #19
So I found a pretty straightforward workaround.
1. Remove:

config-file parent="/*" target="app/src/main/res/values/strings.xml"
            string name="fb_app_id">exampleAppId</string
            string name="fb_app_name">YourApp</string
/config-file

from your config.xml -- this way the ionic build wont keep appending these values into strings.xml

2. Create a before_build hook which will inser

[2019-02-27 11:29] mohamedsharaf commented on #19
@orzsikodon

Post code u made for the build hook here if u can

[2019-02-28 05:40] sreerajkarippala opened #58 "Ionic 4 app keeps stopping"
This is the code i am using for AccountKitPlugin, but it keep crashing app with
Title: App keeps stopping
action: close app

[code]
I am using ionic 4

`package.json` dependencies

[code]

Thank You...

[2019-03-08 20:37] benomase commented on #52
Agree, i have the same problem

[2019-03-09 09:04] benomase commented on #52
Did you find a solution to fix this problem :( ?

[2019-04-11 23:47] myrealjay commented on #19
my own fix for this problem was to add
<string name="accountkit_token">your CLIENT_TOKEN</string>
in yourprojectDir\platforms\android\res\values

after that build was successful

[2019-04-11 23:48] myrealjay commented on #19
my own fix for this problem was to add
`<string name="accountkit_token">your CLIENT_TOKEN</string>`
in yourprojectDir\platforms\android\res\values

after that build was successful

[2019-04-19 17:34] 2diegoduque commented on #19
Hello, to date this problem is still being presented in ionic 4, I want to use login with facebook and with accountkit, what to do when building the project what creates two files in the path:
"platforms\android\app\src\main\res\values":

accountkit.xml:

`<?xml version='1.0' encoding='utf-8'?>`
   `<resources>`
      `<string name="accountkit_token">12345</string>`
      `<string name="fb_app_nam

[2019-04-30 04:27] ghost commented on #52
+1

[2019-05-13 22:09] Kaoschuks opened #59 "Android build error in ionic capacitor"
Whenever i build my ionic capacitor app for android i get

E/AccountKitPlugin: java.lang.IllegalArgumentException: Can only use lower 16 bits for requestCode
        at
android.support.v4.app.BaseFragmentActivityApi14.checkForValidRequestCode(BaseFragmentActivityApi14.java:79)
        at android.support.v4.app.FragmentActivity.startActivityForResult(FragmentActivity.java:748)
        at org.apache

[2019-05-20 23:29] ghost commented on #20
- postBuild -
Build Error: Error: Sandbox Exec Error: [ /private/tmp/monaca/5ce30b9ae78885a443be3aeb/project/platforms/android/build/intermediates/manifests/full/release/AndroidManifest.xml:64: AAPT: error: resource string/fb_app_id (aka codigeek.kapy:string/fb_app_id) not found.

/private/tmp/monaca/5ce30b9ae78885a443be3aeb/project/platforms/android/build/intermediates/manifests/full/release/Andr

[2019-05-22 03:08] ghost commented on #20
I figured this out for future reference if it helps someone:
If you cant use a strings.xml document for development purposes, list your config-file in the fb_app_id, etc.. variables.

`<config-file parent="/resources" target="/res/values/strings.xml">
        <string name="fb_app_id">12345</string>
        <string name="fb_app_name">App Name</string>
        <string name="accountkit_token">141241<

[2019-05-30 13:54] vukhacbiet opened #61 "Xcode 10.2 build failed - swift 3 unsupported"
![Screen Shot 2019-05-30 at 8 46 44 PM](https://user-images.githubusercontent.com/43400653/58637300-6c407f80-831c-11e9-9ff3-43a65004c618.png)
Hi @gurisko
My application had used your plugin over a year ago
Now I just upgraded Xcode to 10.2 and it's no long support Swift 3
This plugin have some issue in Swift 4 and 5
Please help me (and many plugin users) update this plugin for new version of Swift

[2019-06-06 20:08] fernic12 opened #62 "'AccountKit/AccountKit.h' file not found"
at the time of making the compilation in ios gives me the following error: # 'AccountKit/AccountKit.h' file not found. HELP ME!

[2019-06-12 13:15] Kaoschuks commented on #59
I need an answer on this please can anybody from the accountkit team help

[2019-06-18 11:20] jcesarmobile commented on #59
You have to change this number to be a bit smaller https://github.com/gurisko/cordova-plugin-accountkit/blob/master/src/android/AccountKitPlugin.java#L31

[2019-06-18 18:06] Kaoschuks commented on #59
I have reduced it to 65530 but it didn't work.

Please try and fix it please if possible please

[2019-06-21 11:16] Aiwatech commented on #55
I am getting same issue, any solution?

[2019-06-26 12:51] Kaoschuks commented on #59
I fixed it for android works wonderfully

[2019-06-26 13:09] jcesarmobile commented on #59
Linking PR https://github.com/gurisko/cordova-plugin-accountkit/pull/64

[2019-06-26 13:47] Kaoschuks commented on #59
Thanks
    On Wednesday, June 26, 2019, 02:09:23 PM GMT+1, jcesarmobile <notifications@github.com> wrote:

Linking PR #64

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-27 05:02] pareshgami commented on #62
Which command are you use for adding platform iOS? if you use sudo ionic cordova build ios then try without sudo.

Now if you got error EACCESS then give full permission to the whole project

[2019-07-10 11:18] lilian131 opened #65 "ionic 4 android is not firing loginWithPhoneNumber after updating cordova 9"
Hi
First of all, thank you for the plugin, I use it from more than one year now

## **ionic info**

   Ionic CLI                     : 5.2.1 (/Users/abdelhakim/.nvm/versions/node/v10.15.1/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.6.0
   @angular-devkit/build-angular : 0.801.0
   @angular-devkit/schematics    : 8.1.0
   @angular/cli                  : 8.1.0
   @ion

[2019-07-24 08:29] RAsija11 commented on #36
Is there any way to change button color in cordova-plugin-accountkit?

[2019-07-24 08:52] RAsija11 commented on #15
Hi @gurisko, Is theme option available in latest release? I need to change button color in plugin.

[2019-07-31 05:08] sandhysanjaya1206 commented on #50
you can try update account kit to version 5 in pod file

[2019-08-28 11:29] pkitatta commented on #65
Hi @lilian131 .

I am also facing the same problem. Did you get a work around?

[2019-08-29 10:03] pkitatta commented on #58
Hi @sreerajkarippala, did you finally get it to work? In my app that code fragment does execute at all - no error, nothing happens.

[2019-08-29 10:17] pkitatta opened #66 "Plugin stopped executing in ionic 4 PLEASE HELP!"
@gurisko @denyo @eddy-lau
Hi, thanks for this awesome plugin. I have used it in my ionic 3 app for over a year. I am migrating to ionic 4 and the plugin is completely not working. It's not even giving any error. Please help us on this issue. I prefer this plugin to the firebase phonenumber auth because some one doesn't have to put in country code and it can detect user phone number to android (I t

[2019-09-11 14:43] pkitatta opened #67 "Account Kit Deprecation Planned for 9-March 2020"
To whom it may concern

Notification from

Personally I had already removed this plugin because of the errors in ionic 4. I now use firebase phone number auth (cordova firebase auth plugin is also not updated. I removed it after trying it out) for web.

[2019-10-18 11:28] promentol commented on #67
@pkitatta Does firebase web sdk work with Cordova apps, for authenticating with phone?

[2019-11-04 06:48] lilian131 commented on #67
@pkitatta thanks to inform us about this, the cordova-plugin-firebase-authentication has been updated 4 months ago as I can see here https://www.npmjs.com/package/cordova-plugin-firebase-authentication

[2019-11-21 05:03] lilian131 commented on #65
Hi @pkitatta nothing to do, I advise you to look for another solution
because of this :

So it will **no longer function!** do not put your effort on something not stable.
ref: [https://developers.facebook.com/docs/accountkit/webjs/](url)

[2019-11-21 16:41] pkitatta commented on #67
@promentol Sorry for the delayed response. Just use firebase phone number auth for `web`. It worked fine in mine.